body {
margin: 0;
font-family: Arial, sans-serif;
padding-top: 70px;
background: #0f172a;
color: white;
}

html {
scroll-behavior: smooth;
}

/* Navbar */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 50px;
background: #020617;
color: white;
position: fixed;
width: 100%;
top: 0;
}

.navbar ul {
display: flex;
list-style: none;
}

.navbar ul li {
margin-left: 25px;
}

.navbar a {
color: white;
text-decoration: none;
}

.navbar a:hover {
color: #38bdf8;
}

/* Hero */
.hero {
height: 100vh;
background: linear-gradient(to right, #0f172a, #1e293b);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.hero h1 {
font-size: 60px;
}

.hero p {
font-size: 24px;
}

/* Sections */
section {
padding: 80px;
text-align: center;
}

/* About */
.about-container {
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
}

.about-text {
width: 400px;
}

.about-image img {
width: 250px;
border-radius: 10px;
}

/* Skills */
.skills-container {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.skill-card {
background: #1e293b;
padding: 20px;
border-radius: 10px;
width: 150px;
}

/* Timeline */
.timeline {
width: 60%;
margin: auto;
}

.timeline-item {
background: #1e293b;
padding: 20px;
border-radius: 10px;
margin: 20px 0;
}

/* Projects */
.projects-container {
display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
}

.project-card {
width: 250px;
padding: 20px;
background: #1e293b;
border-radius: 10px;
transition: 0.3s;
}

.project-card:hover {
transform: translateY(-10px);
}
